$accent-color: #ffe066;
$link-color: #4dabf7;
$link-visited-color: #22b8cf;
$quote-border-color: #51cf66;
$text-color:  #b1b2b3;
$text-bright-color: white;
$background-color: #121415;
$code-background-color: #171b20;
$border-color: #212529;

$min-body-width: 320px;
$container-max-width: 1080px;
$post-width: 860px;
$spacing: 30px;
$font-size: 18px;
$font-weight-normal: 400;
$font-weight-bold: 600;

$font-family: 'Inter', sans-serif;
$font-family-italic: 'Montserrat', sans-serif;
$font-monospace: 'JetBrains Mono', 'SF Mono', 'Consolas', monospace;
