$accent-color: #ffe066;
$link-color: #228be6;
$link-visited-color: #22b8cf;
$quote-border-color: #51cf66;
$text-color:  #b1b1b1;
$text-bright-color: white;
$background-color: #111314;
$code-background-color: rgba(97, 97, 97, 0.1);
$border-color: #212529;

$min-body-width: 320px;
$container-max-width: 1080px;
$spacing: 30px;
$font-size: 18px;
$font-weight-normal: 400;
$font-weight-bold: 700;

$font-family: 'Inter', sans-serif;
$font-monospace: 'JetBrains Mono', monospace;
