$md-yellow: $accent-color;
$md-blue  : #339af0;
$md-gray  : #495057;
$md-red   : #ff8787;
$md-pink  : #f783ac;
$md-grape : #da77f2;
$md-violet: #9775fa;
$md-indogo: #748ffc;
$md-cyan  : #3bc9db;
$md-teal  : #38d9a9;
$md-green : #69db7c;
$md-lime  : #a9e34b;
$md-orange: #ffa94d;
$md-brown : #A1694E;

$md-code-c   : $text-color; // Comment
$md-code-err : $text-color; // Error
$md-code-o   : $text-color; // Operator
$md-code-cm  : $md-gray; // Comment.Multiline
$md-code-cp  : $md-gray; // Comment.Preproc
$md-code-c1  : $md-gray; // Comment.Single
$md-code-cs  : $md-gray; // Comment.Special
$md-code-gd  : $text-color; // Generic.Deleted
$md-code-gd-x: $text-color; // Generic.Deleted.Specific
$md-code-ge  : $text-color; // Generic.Emph
$md-code-gr  : $text-color; // Generic.Error
$md-code-gh  : $text-color; // Generic.Heading
$md-code-gi  : $text-color; // Generic.Inserted
$md-code-gi-x: $text-color; // Generic.Inserted.Specific
$md-code-go  : $text-color; // Generic.Output
$md-code-gp  : $text-color; // Generic.Prompt
$md-code-gs  : $text-color; // Generic.Strong
$md-code-gu  : $text-color; // Generic.Subheading
$md-code-gt  : $text-color; // Generic.Traceback
$md-code-k   : $md-yellow; // Keyword
$md-code-kc  : $md-green; // Keyword.Constant
$md-code-kd  : $md-yellow; // Keyword.Declaration
$md-code-kp  : $md-green; // Keyword.Pseudo
$md-code-kr  : $md-green; // Keyword.Reserved
$md-code-kt  : $md-green; // Keyword.Type
$md-code-m   : $text-color; // Literal.Number
$md-code-s   : $text-color; // Literal.String
$md-code-n   : $text-color; //
$md-code-na  : $text-color; // Name.Attribute
$md-code-nb  : $text-color; // Name.Builtin
$md-code-nc  : $text-color; // Name.Class
$md-code-no  : $text-color; // Name.Constant
$md-code-ni  : $text-color; // Name.Entity
$md-code-ne  : $text-color; // Name.Exception
$md-code-nf  : $md-grape; // Name.Function
$md-code-nn  : $text-color; // Name.Namespace
$md-code-nt  : $text-color; // Name.Tag
$md-code-nv  : $md-blue; // Name.Variable
$md-code-ow  : $text-color; // Operator.Word
$md-code-w   : $text-color; // Text.Whitespace
$md-code-mf  : $text-color; // Literal.Number.Float
$md-code-mh  : $text-color; // Literal.Number.Hex
$md-code-mi  : $text-color; // Literal.Number.Integer
$md-code-mo  : $text-color; // Literal.Number.Oct
$md-code-sb  : $text-color; // Literal.String.Backtick
$md-code-sc  : $text-color; // Literal.String.Char
$md-code-sd  : $text-color; // Literal.String.Doc
$md-code-s2  : $text-color; // Literal.String.Double
$md-code-se  : $text-color; // Literal.String.Escape
$md-code-sh  : $text-color; // Literal.String.Heredoc
$md-code-si  : $text-color; // Literal.String.Interpol
$md-code-sx  : $text-color; // Literal.String.Other
$md-code-sr  : $text-color; // Literal.String.Regex
$md-code-s1  : $text-color; // Literal.String.Single
$md-code-ss  : $text-color; // Literal.String.Symbol
$md-code-bp  : $text-color; // Name.Builtin.Pseudo
$md-code-vc  : $text-color; // Name.Variable.Class
$md-code-vg  : $text-color; // Name.Variable.Global
$md-code-vi  : $text-color; // Name.Variable.Instance
$md-code-il  : $md-orange; // Literal.Number.Integer.Long
$md-code-p   : $md-orange;

.highlight {
  .c     { color: $md-code-c   ; }
  .err   { color: $md-code-err ; }
  .k     { color: $md-code-k   ; }
  .o     { color: $md-code-o   ; }
  .cm    { color: $md-code-cm  ; }
  .cp    { color: $md-code-cp  ; }
  .c1    { color: $md-code-c1  ; }
  .cs    { color: $md-code-cs  ; }
  .gd    { color: $md-code-gd  ; }
  .gd .x { color: $md-code-gd-x; }
  .ge    { color: $md-code-ge  ; }
  .gr    { color: $md-code-gr  ; }
  .gh    { color: $md-code-gh  ; }
  .gi    { color: $md-code-gi  ; }
  .gi .x { color: $md-code-gi-x; }
  .go    { color: $md-code-go  ; }
  .gp    { color: $md-code-gp  ; }
  .gs    { color: $md-code-gs  ; }
  .gu    { color: $md-code-gu  ; }
  .gt    { color: $md-code-gt  ; }
  .kc    { color: $md-code-kc  ; }
  .kd    { color: $md-code-kd  ; }
  .kp    { color: $md-code-kp  ; }
  .kr    { color: $md-code-kr  ; }
  .kt    { color: $md-code-kt  ; }
  .m     { color: $md-code-m   ; }
  .s     { color: $md-code-s   ; }
  .n     { color: $md-code-n   ; }
  .na    { color: $md-code-na  ; }
  .nb    { color: $md-code-nb  ; }
  .nc    { color: $md-code-nc  ; }
  .no    { color: $md-code-no  ; }
  .ni    { color: $md-code-ni  ; }
  .ne    { color: $md-code-ne  ; }
  .nf    { color: $md-code-nf  ; }
  .nn    { color: $md-code-nn  ; }
  .nt    { color: $md-code-nt  ; }
  .nv    { color: $md-code-nv  ; }
  .ow    { color: $md-code-ow  ; }
  .w     { color: $md-code-w   ; }
  .mf    { color: $md-code-mf  ; }
  .mh    { color: $md-code-mh  ; }
  .mi    { color: $md-code-mi  ; }
  .mo    { color: $md-code-mo  ; }
  .sb    { color: $md-code-sb  ; }
  .sc    { color: $md-code-sc  ; }
  .sd    { color: $md-code-sd  ; }
  .s2    { color: $md-code-s2  ; }
  .se    { color: $md-code-se  ; }
  .sh    { color: $md-code-sh  ; }
  .si    { color: $md-code-si  ; }
  .sx    { color: $md-code-sx  ; }
  .sr    { color: $md-code-sr  ; }
  .s1    { color: $md-code-s1  ; }
  .ss    { color: $md-code-ss  ; }
  .bp    { color: $md-code-bp  ; }
  .vc    { color: $md-code-vc  ; }
  .vg    { color: $md-code-vg  ; }
  .vi    { color: $md-code-vi  ; }
  .il    { color: $md-code-il  ; }
  .p     { color: $md-brown    ; }
}
