.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  white-space: nowrap;
  padding: ($spacing / 2) ($spacing * 2 / 3);
  background-color: $code-background-color;
  font-weight: $font-weight-bold;
  border-radius: 4px;
  transition: all 0.5s;

  &:hover {
    color: black;
    background-color: $accent-color;
  }
}
