---
layout: default
---

<article>
  <div class="container post">
    <h1 class="title">{{ page.title }}</h1>
    <h6 class="author">
      {% if page.author %}
        Writen by <span class="author-name">{{ page.author }}</span> <span class="author-separator">—</span>
      {% endif %}
      <span class="publish-date">{{ page.date | date: "%B %-d, %Y" }}</span>
    </h6>
    {% if page.poster %}
      <img class="poster" src="{{ page.poster | relative_url }}">
    {% endif %}
    {{ content }}
  </div>
</article>
